<nav>
    <ul>
        <li>
            <a href="/index">Home</a>
        </li>
        <li>
            <a href="/projects">Projects</a>
        </li>
        <li>
            <a href="/tasks">Tareas</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/create_task">Cretae New Task</a>
        </li>
        <li>
            <a href="/create_project">Cretae New Project</a>
        </li>
    </ul>
</nav> 
{% block content %}
{% endblock %}